/* = Default template variables
-------------------------------------------------------------- */
/* = Reset classes
-------------------------------------------------------------- */
ul li {
  list-style-type: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #777777;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
object,
embed,
a:link,
a:visited,
select {
  outline: 0 !important;
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active:focus {
  outline: 0 !important;
}
body {
  font-size: 13px;
  color: #777777;
}
.strong {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
/* = Helper classes
-------------------------------------------------------------- */
.block {
  text-align: center;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.centered {
  display: inline-block;
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
.elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* = Default template classes
-------------------------------------------------------------- */
/* = Lists left, righ, icon
-------------------------------------------------------------- */
.list > li {
  float: left;
}
.list > li a {
  display: block;
}
.list.rightl > li:last-child,
.list.rightl > li :last-child a {
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
}
.list.leftl > li:first-child,
.list.leftl > li:first-child a {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
.list.iconlist > li,
.list.iconlist > li > a {
  text-indent: -9999px;
}
/* = Box model
-------------------------------------------------------------- */
.box {
  margin-bottom: 5px;
  position: relative;
}
.box:last-child {
  margin-bottom: 0;
}
.box .heading {
  padding: 10px 15px;
  background-color: #e5e5e5;
}
.box .title {
  margin: 0;
  padding: 0;
}
.box > .title {
  margin-bottom: 5px;
}
.box .body {
  padding: 15px;
  background-color: #fafafa;
}
.box.clean {
  padding: 15px;
}
.box.border {
  border: 1px solid #e5e5e5;
  padding: 15px;
}
.box.marketing {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/light_gray_textured_rock_seamless_pattern.jpg) repeat 0 0 transparent;
}
.box.clean .heading,
.box.clean .body {
  padding: 0;
  margin: 0;
}
.box.clean .heading,
.box.clean .body,
.box.transp .heading,
.box.transp .body {
  background-color: transparent;
}
.boxtransp.transp .heading {
  background-color: #fafafa;
  padding: 10px 15px 0;
}
.box.info {
  background-color: #5bc0de;
}
/* = Site specific functions
-------------------------------------------------------------- */
.headertxt {
  padding: 0 15px;
}
.navtxt {
  font-size: 13px;
  font-weight: 400;
  display: block;
  text-decoration: none;
}
.footertxt {
  padding: 0 15px;
}
/* = Site specific css
-------------------------------------------------------------- */
header {
  position: relative;
}
header .list > li {
  padding: 0 15px;
}
.mnav > li > a {
  font-size: 13px;
  font-weight: 400;
  display: block;
  text-decoration: none;
}
.copy .inner {
  padding-top: 7px;
  line-height: 21px;
  margin-bottom: 30px;
}
.copy .list > li {
  padding: 0 15px;
}
.copy .policy a {
  color: #f33833;
}
/*# sourceMappingURL=site.css.map */